<div class="row">
    
    <div class="col-sm-8 ">
     <div class="md-whiteframe-z0 bg-white">
        <ul class="nav nav-lines nav-tabs b-info">
          <li class="active panel r-3x b-l-success b-l-5x inline">
            <a href data-toggle="tab" data-target="#tab_4">Employee</a>
          </li>
          <li class="panel r-3x b-l-success b-l-5x inline">
            <a href data-toggle="tab" data-target="#tab_5">Labour </a>
          </li>
          <li class=" panel  r-3x b-l-success b-l-5x inline">
            <a href data-toggle="tab" data-target="#tab_6">Vehicle</a>
          </li>
        </ul>
        <div class="tab-content p m-b-md b-t b-t-2x">
          <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab_4">
            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab_5">
            <form name="myForm" ng-app="myApp" ng-controller="myController" class="container-fluid" ng-submit="myForm.$valid && submit()" novalidate>
          <div class="panel panel-default md-whiteframe-z1">
              <div class="panel-heading bg-white text-center">
                <span class="font-bold">Labour Attendance</span>
              </div>
            <div class="panel-body">
              <div class="md-form-group col-sm-6">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)" >
                      <label>Vehicle No/Id:</label>
                      <input type="text" ng-model="user.name" class="md-input" name="name" id="name" ng-required="true"  ng-maxlength="10" minlength="3">
                      <div ng-messages="myForm.name.$error" ng-if="myForm.$submitted || myForm.name.$touched">
                        <div ng-message="required"> Material name is required.</div>
                        <div ng-message="maxlength">Enter maximum 10 character!</div>
                        <div ng-message="minlength">Enter Minimum 3 character!</div>
                      </div>
                 </md-input-container> 
              </div>
              <div class="md-form-group  col-sm-6">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)">
                      <label>Driver Name</label>
                      <input type="text" class="md-input" ng-model="user.type" name="type" id="type" ng-required="true" ng-maxlength="5" minlength="2">
                      <div ng-messages="myForm.type.$error" ng-if="myForm.$submitted || myForm.type.$touched">
                        <div ng-message="required"> Type is required.</div>
                        <div ng-message="maxlength">Enter maximum 5 character!</div>
                        <div ng-message="minlength">Enter Minimum 2 character!</div>
                      </div>
                  </md-input-container> 
              </div>
               <div class="md-form-group">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)">
                      <label>Material Name:</label>
                      <input type="text" class="md-input" ng-model="user.type" name="type" id="type" ng-required="true" ng-maxlength="5" minlength="2">
                      <div ng-messages="myForm.type.$error" ng-if="myForm.$submitted || myForm.type.$touched">
                        <div ng-message="required"> Type is required.</div>
                        <div ng-message="maxlength">Enter maximum 5 character!</div>
                        <div ng-message="minlength">Enter Minimum 2 character!</div>
                      </div>
                  </md-input-container> 
              </div>
               
               
               <div class="md-form-group">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)">
                      <label>Total Hours:</label>
                      <input type="text" class="md-input" ng-model="user.type" name="type" id="type" ng-required="true" ng-maxlength="5" minlength="2">
                      <div ng-messages="myForm.type.$error" ng-if="myForm.$submitted || myForm.type.$touched">
                        <div ng-message="required"> Type is required.</div>
                        <div ng-message="maxlength">Enter maximum 5 character!</div>
                        <div ng-message="minlength">Enter Minimum 2 character!</div>
                      </div>
                  </md-input-container> 
              </div>
              
  
              <footer class=" text-center">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
              </footer> 
            </div>
          </div>
        </form>
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab_6">
            <form name="myForm" ng-app="myApp" ng-controller="myController" class="container-fluid" ng-submit="myForm.$valid && submit()" novalidate>
          <div class="panel panel-default md-whiteframe-z1">
              <div class="panel-heading bg-white text-center">
                <span class="font-bold">Vehicle Attendance</span>
              </div>
            <div class="panel-body">
              <div class="md-form-group col-sm-6">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)" >
                      <label>Vehicle No/Id:</label>
                      <input type="text" ng-model="user.name" class="md-input" name="name" id="name" ng-required="true"  ng-maxlength="10" minlength="3">
                      <div ng-messages="myForm.name.$error" ng-if="myForm.$submitted || myForm.name.$touched">
                        <div ng-message="required"> Material name is required.</div>
                        <div ng-message="maxlength">Enter maximum 10 character!</div>
                        <div ng-message="minlength">Enter Minimum 3 character!</div>
                      </div>
                 </md-input-container> 
              </div>
              <div class="md-form-group  col-sm-6">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)">
                      <label>Driver Name</label>
                      <input type="text" class="md-input" ng-model="user.type" name="type" id="type" ng-required="true" ng-maxlength="5" minlength="2">
                      <div ng-messages="myForm.type.$error" ng-if="myForm.$submitted || myForm.type.$touched">
                        <div ng-message="required"> Type is required.</div>
                        <div ng-message="maxlength">Enter maximum 5 character!</div>
                        <div ng-message="minlength">Enter Minimum 2 character!</div>
                      </div>
                  </md-input-container> 
              </div>
               <div class="md-form-group">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)">
                      <label>Material Name:</label>
                      <input type="text" class="md-input" ng-model="user.type" name="type" id="type" ng-required="true" ng-maxlength="5" minlength="2">
                      <div ng-messages="myForm.type.$error" ng-if="myForm.$submitted || myForm.type.$touched">
                        <div ng-message="required"> Type is required.</div>
                        <div ng-message="maxlength">Enter maximum 5 character!</div>
                        <div ng-message="minlength">Enter Minimum 2 character!</div>
                      </div>
                  </md-input-container> 
              </div>
               
               
               <div class="md-form-group">
                  <md-input-container md-is-error="myForm.name.$invalid && (myForm.$submitted || myForm.name.$dirty)">
                      <label>Total Hours:</label>
                      <input type="text" class="md-input" ng-model="user.type" name="type" id="type" ng-required="true" ng-maxlength="5" minlength="2">
                      <div ng-messages="myForm.type.$error" ng-if="myForm.$submitted || myForm.type.$touched">
                        <div ng-message="required"> Type is required.</div>
                        <div ng-message="maxlength">Enter maximum 5 character!</div>
                        <div ng-message="minlength">Enter Minimum 2 character!</div>
                      </div>
                  </md-input-container> 
              </div>
              
  
              <footer class=" text-center">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
              </footer> 
            </div>
          </div>
        </form>
          </div>
        </div>
      </div>
    
        
    </div>
</div>
 <script type="text/javascript">
    app.controller('myController', function ($scope) {
      $scope.statuses = ['Yes', 'No'];
      $scope.showHideTest = false;
      //$scope.options = ['Option 1', 'Option 2', 'Option 3', 'Option 4', '...'];
      $scope.submit = function() {
        // submit code goes here
        //alert("hello from submit");
      };
      $scope.reset = function() {
        $scope.user = {
          name: "",
          type: "",
          status: ""
        }
      };
      $scope.reset();
    });
</script>
<script type="text/javascript">
    angular.module('datepickerBasicUsage', ['ngMaterial'])
.controller('AppCtrl', function ($scope) {
  $scope.myDate = new Date();
  $scope.minDate = new Date(
    $scope.myDate.getFullYear(),
    $scope.myDate.getMonth() - 2,
    $scope.myDate.getDate());
    $scope.maxDate = new Date(
    $scope.myDate.getFullYear(),
    $scope.myDate.getMonth() + 2,
    $scope.myDate.getDate());
});
  </script>
